<!DOCTYPE html>
<html>
<head>
    <title>DCBC & Diabetes Analyzer</title>
      <link rel="stylesheet" href="style.css">
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        .form-section { margin-bottom: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 10px; }
        h2 { color: #2c3e50; }
        .result { background: #f0f8ff; padding: 20px; border-radius: 10px; margin-top: 20px; }
        
    </style>
</head>
<body>
    <h1>🩺Diabetes & CBC Analyzer</h1>
    <form method="POST">
        <div class="form-section">
            <h2>Patient Details</h2>
            Name: <input type="text" name="name"><br><br>
            Age: <input type="number" name="age" min="1" required placeholder="Enter Age">
<br><br>
            Sex: <select name="sex">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>

        <div class="form-section">
            <h2>CBC Parameters</h2>
            RBC: <input type="text" name="rbc"><br><br>
            WBC/TLC: <input type="text" name="wbc"><br><br>
            Platelets: <input type="text" name="platelets"><br><br>
            Hemoglobin: <input type="text" name="hb"><br><br>
        </div>

        <div class="form-section">
            <h2>Glycemic Parameters</h2>
            HbA1c: <input type="text" name="hba1c"><br><br>
            FBS: <input type="text" name="fbs"><br><br>
            PP: <input type="text" name="pp"><br><br>
        </div>

        <input type="submit" value="Analyze">
    </form>
 


    {% if result %}
    <div class="result">
        <p><strong>Name:</strong> {{ result.name }} | <strong>Age:</strong> {{ result.age }} | <strong>Sex:</strong> {{ result.sex }}</p>
        <p><strong>Diabetes Category:</strong> {{ result.diabetes_status }}</p>
        <p><strong>Complication Risk:</strong> {{ result.risk }}</p>
    </div>
{% else %}
    <p>No data to display.</p>
{% endif %}

    <footer>
    <p>© 2025 Developed by <strong>Rajendra Kishore</strong></p>
</footer>

</body>
</html>
